html {
  background-color: #fff;
  font-size: 62.5%;
  width: 100%;
}

.tasklist {
  border: 1px solid #ddd;
  width: 25%;
}

.listname {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #ddd;
  justify-content: space-between;
}

.headerlist {
  font-size: 1.3rem;
  padding-left: 1.5rem;
  font-weight: 500;
}

.material-symbols-outlined,
.material-symbols-sharp {
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
}

#sync {
  font-size: 1.3rem;
  padding-right: 1rem;
}

.input-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 1rem;
}

#task,
.todotask {
  margin-left: 0.5rem;
  padding-left: 1rem;
  font-size: 1.1rem;
  width: 70%;
  border-style: none;
}

.submit {
  margin-right: 0.5rem;
  border-style: none;
}

#enter {
  font-size: 1rem;
  border-style: none;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interactive-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.01rem 0.01rem 0.01rem 0.01rem;
  justify-content: center;
  width: 100%;
}

.interactive-list li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

#more {
  font-size: 1rem;
  padding-right: 0.5rem;
}

#description {
  width: 80%;
  font-size: 1.2rem;
}

.checkbox {
  margin-left: 1rem;
  width: 0.9rem;
  height: 1rem;
}

.clearbutton {
  width: 100%;
  height: 3rem;
  margin-top: -1.1rem;
  border-style: none;
  font-size: 1rem;
  color: #000;
}
